<app-header></app-header>
<div class="container">
  <app-navbar-voltar rota="perfil"></app-navbar-voltar>
  <div
    *ngFor="let produto of produtos; let index = index"
    class="card mb-3 d-none d-sm-block"
    style="max-width: 540px;"
  >
    <div class="row g-0">
      <div class="col-4">
        <img
          src="{{ produto.img }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <h6 class="card-title">{{ produto.empresa }}</h6>
          <h6 class="card-title">{{ produto.descricao }}</h6>
          <h6 class="card-title">quantidade - preco</h6>

          <p class="card-text">
            total({{ detalhesProduto[index].quantidade }}) - R${{
              produto.preco * detalhesProduto[index].quantidade | number: '1.00'
            }}
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let produto of produtos; let index = index"
    class="card bg-dark d-sm-none text-white"
  >
    <img src="{{ produto.img }}" class="card-img" />
    <div class="card-img-overlay bd-highlight">
      <h5 class="card-title">{{ produto.nome }}</h5>
      <p class="card-text">{{ produto.descricao }}</p>
      <p class="card-text">
        {{ produto.preco * detalhesProduto[index].quantidade | number: '1.00' }}
      </p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</div>
