<app-header></app-header>
<div class="container">
  <app-navbar-voltar rrota="home"></app-navbar-voltar>
  <!-- <img src="{{ product.img }}" class="card-img" />
  <div class="card-body">
    <h5 class="card-title">{{ product.nome }}</h5>
    <p class="card-text">{{ product.descricao }}</p>
  </div>
  <div class="btn-group">
    <button (click)="subitracao()" class="btn btn-primary">-1</button>
    <div class="btn btn-primary disabled">
      quantidade: {{ quantidade }}, total:{{
        quantidade * preco | number: '1.2-2'
      }}
    </div>
    <button (click)="soma()" class="btn btn-primary">+1</button>
  </div>
  <button (click)="soma()" class="btn btn-primary"> Comprar </button> -->
</div>
