<app-navbar-voltar rota="login"></app-navbar-voltar>

<div class="container mt-3" [formGroup]="loginFormGroup">
  <img [src]="logoIMG" class="mx-auto d-block" alt="Logo HelpCar" />
  <hr />
  <div class="col-md-8 col-12 offset-md-2">
    <div class="col-12">
      <app-input type="text" label="E-mail" controlName="email"></app-input>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-primary col-12 mt-4"
        [disabled]="loginFormGroup.invalid"
      >
        <div
          *ngIf="buttonLoading"
          class="spinner-border spinner-border-sm text-dark"
        ></div>
        <span> enviar codigo </span>
      </button>
    </div>
  </div>
</div>
